apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-secretsmanager
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "ecommerce-db-creds"
        objectType: "secretsmanager"
